body {
    margin: 0px;
    background-color: #1D252E;
    opacity: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bg {
    display: flex;
    flex-direction: column;
    width: 60%;
    
}

.lg-block {
    background-image: url('images/Untitled-8.svg');
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#logo {
    margin-top: 40px;
    width: 25%;
    height: auto;
}

.light-text {
    margin: 4px;
    font-family: 'Space Grotesk', sans-serif;
    color: #A1A3A8;
    font-size: 18px;
}

.white-text {
    color: #FFFFFF;
    margin: 2px;
    size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    display: inline;
    height: auto;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    width: 25%;
    min-width: 20%;
    height: 45px;
    background-color: #0053ED;
    border-radius: 1.4rem;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

#htag {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

#dtag {
    font-family: 'Space Grotesk', sans-serif;
    color: #F1B924;
    font-size: 22px;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columntext {
    height: 5vh;
    border: none;
    width: 95%;
    margin: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.hl {
    border-top: 2px solid #4C5159;
    opacity: 85%;
    height: auto;
}

.spc-text {
    color: #F1B924;
    margin: 2px;
    size: 25px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    display: inline;
    height: auto;

}

.connect {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 600px) {
    .bg {
        width: 95%;
    }

    #logo {
        width: 20%;
        margin-top: 20px;
    }

    .light-text {
        font-size: 14px;
    }

    .white-text {
        font-size: 14px;
    }
}